.formikContainer {
  width: 63%;
  height: auto;
  margin: 3rem auto;
}
.formikContainer h1 {
  text-align: center;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 36px;
  color: #020246;
}
.formikContainer input {
  height: 2.3rem;
  padding: 0 0.5rem;
  outline: none;
  border: 1px solid #262626;
  font-family: "Roboto", sans-serif;
  border: 2px solid #E0E0E0;
  border-radius: 6px;
}
.label {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #4f5b76;
  margin-bottom: .2rem;
}
.inputfield {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
}
