.LayoutContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  background-color: #faf3f1;
  position: relative;
}
.box{
  width: 83%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #faf3f1;
  margin: 0 0 0 17%;

}
.children{
  margin: 1.2rem 0;
  height: 100%;
  background-color: #faf3f1;
}