.LayoutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #faf3f1;
  position: relative;
}
.box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.children{
  margin: 5rem 0;
}