.tableContainer {
  width: auto;
  background: #ffffff;
  margin-top: 1.5rem;
  height: 17.2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.table .td{
    padding: 15px;
    text-align: justify;
    width: 200px;
    margin: 0 auto;
}
.table{
    border-collapse: collapse;
}